{% extends "_partials/base.html" %}

{% block title %}
Login
{% endblock title %}

{% load static %}

{% block content %}
  <div class="s-container s-upper-margin-4rem">
    <h2 class="ui teal image header">
      <img src="{% static 'img/logo.png' %}" alt="" class="image">
      <div class="content">Login to Account</div>
    </h2>
    <form class="ui form auth-form-max-width" method="post">
      {% csrf_token %}
      <div class="ui segment">
        <div class="ui field">
          <label>Email</label>
          <div class="ui left icon input">
            <i class="envelope outline icon"></i>
            <input type="email" name="email" value="{{data.email}}" placeholder="Email" maxlength="40">
          </div>
        </div>
        <div class="ui field">
          <label>Password</label>
          <div class="ui left icon input">
            <i class="ellipsis horizontal icon"></i>
            <input type="password" name="password" placeholder="Password" maxlength="40">
          </div>
        </div>
        <div class="ui field s-upper-padding-05rem">
          {% if has_error %}
            <div class="ui red message">
              {% for message in messages %}
                {{message}}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <br/>
        <button class="ui button teal" type="submit">Login</button>
        <a href={% url 'auth-signup-url' %} class="ui button right floated black">Sign Up</a>
        <a href={% url 'auth-resetpassword-url' %} class="ui button right floated">Reset Password</a>
      </div>
    </form>
  </div>
{% endblock content %}