{% extends "_partials/base.html" %}

{% block title %}
Login
{% endblock title %}

{% load static %}

{% block content %}

  <div class="s-container s-upper-margin">
    <h2 class="ui teal image header">
      <img src="{% static 'img/logo.png' %}" alt="" class="image">
      <div class="content">Login to Account</div>
    </h2>
    <form class="ui form auth-form-max-width" method="post">
      <div class="ui segment">
        <div class="ui field">
          <label>Email</label>
          <div class="ui left icon input">
            <i class="envelope outline icon"></i>
            <input type="email" name="email" placeholder="Email" maxlength="40">
          </div>
        </div>
        <div class="ui field">
          <label>Password</label>
          <div class="ui left icon input">
            <input type="password" name="password" placeholder="Password"  maxlength="40">
            <i class="ellipsis horizontal icon"></i>
          </div>
        </div>
        <button class="ui button teal" type="submit">Login</button>
        <button class="ui button right floated black">Sign Up</button>
        <button class="ui button right floated">Forgot Password</button>
      </div>
    </form>
  </div>
{% endblock content %}