{% extends "_partials/base.html" %}

{% block title %}
Welcome to Voting Website
{% endblock title %}

{% load static %}

{% block content %}
  <div class="ui borderless main menu">
    menu top
  </div>
  <div class="ui segment s-sections s-first-section">
  </div>
  <div class="ui segment s-sections s-second-section">
  </div>
  <div class="ui segment s-sections s-third-section">
  </div>
  <div class="ui segment s-sections s-fourth-section">
  </div>
  <div class="ui segment inverted s-sections s-fifth-section">
  </div>
{% endblock content %}